<div class="hide-xs hide-sm">
    <div class="donut-bullet">
        <h1>
            <i id="tagicon-{% increment tagIcon %}" class="{{include.icon}}" style="vertical-align:middle;opacity:0"></i>
            <span id="tagline-step-{% increment tagLine %}">{{include.heading}}</span>
        </h1>
    </div>
</div>
<div class="hide-md hide-lg">
    <div class="col-xs-12">
        <div class="tagline-mobile">
            <span id="tagline-mobile-step-{% increment tagLine-mobile %}" style="display:none;opacity:0">{{include.heading}}</span>
        </div>
    </div>
</div>
