<footer>

  <script src="/assets/bower_components/d3/d3.min.js"></script>
  <script src="/assets/scripts/animated-donut.min.js"></script>
  <script src="/assets/scripts/headroom.min.js"></script>
  <script src="/assets/scripts/carousel-donut.min.js"></script>
  <script>
    (function() {
    var header = document.getElementById("header");
    var headroom = new Headroom(header, {
        tolerance: 5,
        offset : 205,
        classes: {
          initial: "headroom",
          pinned: "headroom--pinned",
          unpinned: "headroom--unpinned"
        }
    });
    headroom.init();

  }());
</script>
<div class="section-wrapper">
  <div class="row start-xs" style="padding-bottom: 0">
    <nav class="col-xs-12 col-md-12 center-xs center-md" style="margin-top: 25px">
      <div>
        <a href="{{"/aboutus.html" | prepend: site.baseurl | prepend: site.url}}">about us</a>
        <a href="{{"/blog.html" | prepend: site.baseurl | prepend: site.url}}">blog</a>
        <a href="{{"/blog.html" | prepend: site.baseurl | prepend: site.url}}">FAQ</a>
        <a href="{{"/press.html" | prepend: site.baseurl | prepend: site.url}}">press</a>
        <a href="{{"/terms.html" | prepend: site.baseurl | prepend: site.url}}">terms</a>
        <a href="{{"/privacy.html" | prepend: site.baseurl | prepend: site.url}}">privacy</a>
      </div>
    </nav>
  </div>

  <div class="col-xs-12 col-md-4 start-md center-xs" style="margin-top: 25px;">

  </div>

  <div class="row" style="margin-left: 2rem;padding-top: 0">
    <div class="col-xs-12 col-md-4 start-md center-xs">
        <a href="{{"/index.html" | prepend: site.baseurl | prepend: site.url}}" style="margin-bottom: 25px">
          <img src="/uploads/plynty_logo_whiteoutline.png" width="75" height="75">
        </a>
        <div class="patent-text col-xs-12 col-md-12 start-md center-xs" style="">patent pending</div>
    </div>
    <div class="col-xs-12 col-md-4 center-md center-xs">
      <div class="trademarks vert-align">
        <p>&#169; 2017, plynty, LLC. All rights reserved.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 center-xs end-md">
      <div class="social vert-align">
        <a href="https://twitter.com/plynty" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://www.facebook.com/plynty" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/plynty" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://www.instagram.com/plynty" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>
</footer>
