<script>
  document.domain = 'plynty.com';
  var url = window.location.href;
  var accessToken = url.substring(url.lastIndexOf('?') + 1);

  $("#verify_token_form").hide(); // Hide verify token initially
  $("#password_change").hide(); // Hide verify token initially
  $("#success").hide();
  $("#email").change(function () { //onblur reset
    $("#email_error").text('');
  });
  $("#token").change(function () {
    $("#token_error").text('');
  });
  $("#password").change(function () {
    $("#password_error").text('');
  });
  $("#password_confirm").change(function () {
    $("#confirm_password_error").text('');
  });
  var myInfo = {
    forceSms: true
  };

  $("#verify_email_form").submit(function (event) {
    myInfo.email = document.getElementById("email").value;
    if (myInfo.email !== '') {
      var request = $.ajax({
        url: "https://dev.plynty.com/api/users/requestSms",
        data: myInfo,
        contentType: "application/json; charset=utf-8"
      });

      request.done(function (msg) {
        if (!JSON.stringify(msg.response.error)) {
          var authyOk = JSON.stringify(msg.response.authyOk);
          authyOk = JSON.parse(authyOk);
          $("#verify_email_form").hide();
          $("#description").text("enter the seven-digit code sent to your mobile to continue");
          $("#verify_token_form").show(); // SHOW VERIFY TOKEN FIELD
          var value = $("#email").val();
          $("h4").text("currently reseting password for " + value);
        } else {
          var error = JSON.stringify(msg.response.error);
          error = JSON.parse(error);
          if ($("#email").val() === "") {
            error = "please enter your plynty account email first to continue";
          }
          $("#email_error").text(error);
        }
      });

      request.fail(function (jqXHR, textStatus) {
        // alert("Request failed: " + textStatus +' '+ jqXHR.status);
        $("#email_error").text(error);
      });
    } else {
      $("#email_error").text('required');
    }
    return false;
  });
</script>
<script>
  var tokenInfo = {};
  $("#verify_token_form").submit(function (event) {
    tokenInfo.email = $('#email').val();
    tokenInfo.authyToken = $('#token').val();
    if (myInfo.authyToken !== '') {
      var request1 = $.ajax({
        url: "https://dev.plynty.com/api/users/verifyToken",
        data: tokenInfo,
        contentType: "application/json; charset=utf-8"
      });

      request1.done(function (msg) {
        if ((msg.response.success)) {
          $("#verify_token_form").hide();
          $("#title").text('create new password')
          $("#description").text(
            'must be 8 to 30 characters long and contain one digit, one upper-case and one lower-case letter'
          );
          $("#password_change").show();
        } else { // on fail
          $("#token_error").text('invalid access code');
        }
      });

      request1.fail(function (jqXHR, textStatus) {
        // alert("Request failed: " + textStatus +' '+ jqXHR.status);
        var error = "invalid access code";
        $("#token_error").show();
        $("#token_error").text(error);
      });
    } else {
      $("#token_error").text('required');
    }

    return false;

  });
</script>
<script>
  $("#password_change").submit(function (event) {
    checkEmpty();
    function changePassword() {
      var updatePwd = {
        access_token: accessToken
      };
      updatePwd.authyToken = $('#token').val();
      updatePwd.password = $('#password').val();
      var request2 = $.ajax({
        type: "POST",
        url: "https://dev.plynty.com/api/users/updatePassword?access_token=" + accessToken,
        data: updatePwd
      });

      request2.done(function (msg) {
        $("")
        $("#description").hide();
        $("#password_change").hide();
        $("#success").show();
        $("h1").hide();
        $("#success_h1").show();
      });

      request2.fail(function (jqXHR, textStatus) {
        // alert("Request failed: " + textStatus +' '+ jqXHR.status);
        var error = "reset period expired. request again.";
        $("#confirm_password_error").show();
        $("#confirm_password_error").text(error);
      });
    }

    function checkEmpty() {
      if ($("#password_confirm").val() === "") {
        var error = "required";
        $("#confirm_password_error").show();
        $("#confirm_password_error").text(error);
      } else if ($("#password").val() === "") {
        var error = "required";
        $("#password_error").show();
        $("#password_error").text(error);
      } else {
        comparePassword();
      }
    }

    function comparePassword() {
      if ($('#password').val() !== $('#password_confirm').val()) {
        var error = "please make sure both passwords are same";
        $("#confirm_password_error").show();
        $("#confirm_password_error").text(error);
      } else {
        changePassword();
      }
    }
    return false;
  });
</script>