.page {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 3rem;
  .page-content {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  li{
    font-size: 1.4rem;
  }
  a {
    text-decoration: none;
    color: $plynty-green;
    font-weight: bold;
    font-size: 1.4rem;
  }
  h1{
    font-size: 3.2rem;
    color: $plynty-green;
  }
  h2{
    font-size: 2.0rem;
    color: $plynty-green;
  }
  @media only screen and (max-width: 800px) {
    .post-header,
    .page-content {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}