article.post {
  margin-left: 3rem;
  margin-right: 3em;
  margin-top: 12rem;
  margin-bottom: 5rem;

}

.post {

  padding-top: 12rem;

  .post-header {
    font-size: 2rem;
  }

  .post-title {
    color: $plynty-pink;
  }

  .social-links {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .post-meta {
    font-size: 1.5rem;
  }

  .post-content {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  li {
    font-size: 1.4rem;
    color: $plynty-gray;
  }

  p img{
    max-width: 95%;
  }

  p a{
    font-size: 1.4rem;
  }

  a {
    text-decoration: none;
    color: $plynty-green;
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 800px) {
    .post-header,.post-content,.post-meta,.social-links,a {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  .post .page{
    a{
      font-size: 1.2rem !important;
    }
  }

}
