/* home page styles */
.form-error {
  padding: 2rem;
  color: red;
  font-size: 1.4rem;
}

.mdl-button--raised.mdl-button--colored {
  background: $plynty-pink;
}

.mdl-textfield__label:after {
  background-color: $plynty-green;
}

.mdl-textfield__label {
  color: $plynty-gray;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: $plynty-gray;
}

h1{
  color: $plynty-green;
  font-size: 2rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $plynty-green;
  text-align: center;
}
.footer a{
  text-decoration: none;
  text-align: right !important;
}
.footer .text{
  color: $plynty-white;
  font-size: 1.5rem;
  text-align: center;
}
p{
  font-size: 1.4rem;
}
.success-card-square.mdl-card {
  width: 320px;
  height: 320px;
  background-color: #f9f9f7;
}
.success-card-square > .mdl-card__title {
  background:
    url('/uploads/changed-pw.jpg') bottom right 15% no-repeat #46B6AC;
  color: $plynty-green;
}

p#tooltip{
  font-size: 1rem;
}