.mdl-button {
  text-transform: none !important;
  font-size: 1.6rem;
}

.mdl-button--raised.mdl-button--colored {
  background: $plynty-green;
}

.mdl-button--raised.mdl-button--colored:hover {
  background: #37ab9e !important;
}

.mdl-textfield__label:after {
  background-color: $plynty-green;
}

.mdl-textfield__label {
  color: $plynty-gray;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: $plynty-gray;
}

.form-error {
  color: #d50000;
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}

h1 {
  color: $plynty-green;
  font-size: 2rem;
}

h2 {
  color: $plynty-gray;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 0;
}

p {
  font-size: 1.4rem;
  color: $plynty-gray;
}